body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.neon-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(-45deg, #ff00ff, #00ffff, #ff00ff, #00ffff);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}
/* hsgf */
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  width: 350px;
  padding: 20px;
  background-color: #e4dfdf;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(187, 0, 0, 0.1);
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #000000;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #000000;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 15px;
  animation: 3s ease-in 1s;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ca00b9;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #037d09;
}

.social-links {
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.social-link {
  display: inline-block;
  padding: 8px 15px;
  margin: 0 5px;
  background-color: #3b5998;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.social-link:hover {
  background-color: #00226a;
}
